$btnPadding: 1em;

button, .c-btn, .c-btn:visited {
    border: none;
    cursor: pointer;
    padding: calc(#{$btnPadding}/2) $btnPadding;
    background-color: $primary-color;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-weight: $bold;
    transition: $hoverTransition;
    border-radius: 2px;
    line-height: 1.25;

    &:hover {
        background-color: $secondary-color;
    }
}

.c-btn--secondary, .c-btn--secondary:visited {
    background-color: $secondary-color;

    &:hover {
        background-color: $secondary-color;
    }
}

.c-btn--reverse, .c-btn--reverse:visited {
    background-color: #ffffff;
    color: $primary-color;
    border: solid 2px $secondary-color;
    border-radius: 25px;
    padding: calc((#{$btnPadding} / 2) - 2px) calc(#{$btnPadding} - 2px);

    &:hover {
        background-color: $secondary-color;
        box-shadow: none;
        color: #ffffff;
    }

    &.c-btn--reverse-secondary, .c-btn--reverse-secondary:visited {
        border-color: $primary-color;
        color: $secondary-color;

        &:hover {
            background-color: $primary-color;
            color: #ffffff;
        }
    }
}
// @media only screen and (min-width: 900px) {
//     .c-btn--more {
//         padding: 1.25rem;
//         font-size: 1.25rem;
//         &:after {
//             display: none;
//         }
//     }
// }

.c-btn-group {
    font-family: monospace; // for spacing columns correctly
    letter-spacing: -.65em; // this too */
    text-align: left;
    margin-bottom: calc(#{-$paragraph-margin}/2);
    margin-top: calc(#{-$paragraph-margin}/2);
    margin-left: -$paragraph-margin;

    .c-btn {
        margin-bottom: calc(#{$paragraph-margin}/2);
        margin-top: calc(#{$paragraph-margin}/2);
        font-family: $font-family; // be sure to reset the font and letter-spacing
        letter-spacing: normal;
        vertical-align: top;
        vertical-align: top;
        margin-left: $paragraph-margin;
    }
}

// .c-btn--cta, .c-btn--cta:visited{
//     background-color: $secondary-color;
//     margin: 0.45rem 0;
//     margin-left: 1.25rem;
//     &:hover {
//         box-shadow: none;
//         background-color: $primary-color;
//         text-decoration: none;
//
//     }
// }
