
.c-image-card {    
    margin-left: calc( #{-$colPadding} / 2 );
    margin-top: calc( #{-$colPadding} / 2 );
    margin-right: calc( #{-$colPadding} / 2 );

    .c-image-card__wrapper {
        padding-bottom: 45%;
    }
}

.c-card-title {
    margin-top: $paragraph-margin;
}
