<div class="o-content-930">
    <section class="o-section-main c-what" id="section3">
        <h2 class="section-title">Hulp nodig van de Findio Verbouwcoach?</h2>
            <div class="o-section-subsub u-mod">
                <div class="o-columns o-columns--table u-scondary-bg-alt">
                    <div class="o-column o-column--small-1 o-column--mid-2 o-column--2 " style="background-image: url('https://placeimg.com/465/324/arch'); background-size: cover;">
                    </div>
                    <div class="o-column o-column--small-1 o-column--mid-2 o-column--2">
                        <div class="o-column__inner">
                            <h3 class="c-what__title">Inspiratieconsult</h3>
                            <p>
                                <b>Een consult op maat ter inspiratie</b><br/>
                                Wil je weten wat jouw mogelijkheden zijn voor (ver)bouwen? Jouw Findio Verbouwcoach (een architect of stylist) brengt tijdens zijn consult van 1 uur jouw woonwensen in kaart.
                                Bij jou thuis! Na een Inspiratieconsult heb je een concreet ontwerp van jouw woonwensen. En weet je precies wat nodig is om je plannen te realiseren.
                            </p>
                            <div class="o-section-sub o-section-end u-center">
                                <a href="https://www.mplus.nl" class="c-btn c-btn--reverse">Lees meer over Inspiratieconsult</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="o-section-subsub u-mod o-section-end">
                <div class="o-columns o-columns--table u-scondary-bg-alt">
                    <div class="o-column o-column--small-1 o-column--mid-2 o-column--2 " style="background-image: url('https://placeimg.com/465/324/arch'); background-size: cover;">
                    </div>
                    <div class="o-column o-column--small-1 o-column--mid-2 o-column--2">
                        <div class="o-column__inner">
                            <h3 class="c-what__title">Realisatie</h3>
                            <p>
                            <b>Aan de slag met (ver)bouwen</b><br/>
                            Heb je voldoende inspiratie om werk te maken van je verbouwplannen? Dan kan de Findio Verbouwcoach (een stylist of architect) jouw plannen concreet uitwerken ne je adviseren over de kosten en mogelijkheden.
                            Daarna schakelt de Findio Verbouwcoach met een aannemer, zodat je eventueel de verbouwing kunt realiseren.
                            </p>
                            <div class="o-section-sub o-section-end u-center">
                                <a href="https://www.mplus.nl" class="c-btn c-btn--reverse">Lees meer over Realisatie</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
