<div class="o-page">
    <section class="o-content o-section-main c-grid js-LoadMore" data-text="Hier vind je nog meer inspiratie" id="section4">
        <h2 class="section-title">Inspiratie? Wij hebben genoeg ideeen...</h2>
        <div class="o-columns o-columns--min-2 js-fadein-up">
            <ul class="u-list">
                <li class="o-column o-column--mid-3 o-column--4 js-lightbox"  data-type="video">
                    <a href="https://www.youtube.com/embed/6LzZO0uGy2A" class="u-clean js-lightbox__inner">
                        <figure class="u-image--275x175 u-image ">
                            <img src="https://placeimg.com/275/175/arch" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Video/afbeelding title</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4 js-lightbox"  data-type="image">
                    <a href="https://placeimg.com/900/900/arch" class="u-clean js-lightbox__inner">
                        <figure class="u-image--275x175 u-image ">
                            <img src="https://placeimg.com/275/176/arch" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Video/afbeelding title</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4 js-lightbox" data-type="image">
                    <a href="https://placeimg.com/900/1000/arch" class="u-clean js-lightbox__inner">
                        <figure class="u-image--275x175 u-image">
                            <img src="https://placeimg.com/275/174/arch" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Video/afbeelding title</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4 js-lightbox"  data-type="video">
                    <a href="https://www.youtube.com/embed/6LzZO0uGy2A" class="u-clean js-lightbox__inner">
                        <figure class="u-image--275x175 u-image ">
                            <img src="https://placeimg.com/275/175/arch" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Video/afbeelding title</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4 js-lightbox"  data-type="image">
                    <a href="https://placeimg.com/900/1000/arch" class="u-clean js-lightbox__inner">
                        <figure class="u-image--275x175 u-image ">
                            <img src="https://placeimg.com/275/176/arch" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Video/afbeelding title</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4 js-lightbox" data-type="image">
                    <a href="https://placeimg.com/900/900/arch" class="u-clean js-lightbox__inner">
                        <figure class="u-image--275x175 u-image">
                            <img src="https://placeimg.com/275/174/arch" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Video/afbeelding title</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4 js-lightbox"  data-type="video">
                    <a href="https://www.youtube.com/embed/6LzZO0uGy2A" class="u-clean js-lightbox__inner">
                        <figure class="u-image--275x175 u-image ">
                            <img src="https://placeimg.com/275/175/arch" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Video/afbeelding title</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4 js-lightbox"  data-type="image">
                    <a href="https://placeimg.com/900/1000/arch" class="u-clean js-lightbox__inner">
                        <figure class="u-image--275x175 u-image ">
                            <img src="https://placeimg.com/275/176/arch" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Video/afbeelding title</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4 js-lightbox" data-type="image">
                    <a href="https://placeimg.com/900/1000/arch" class="u-clean js-lightbox__inner">
                        <figure class="u-image--275x175 u-image">
                            <img src="https://placeimg.com/275/174/arch" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Video/afbeelding title</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4 js-lightbox"  data-type="video">
                    <a href="https://www.youtube.com/embed/6LzZO0uGy2A" class="u-clean js-lightbox__inner">
                        <figure class="u-image--275x175 u-image ">
                            <img src="https://placeimg.com/275/175/arch" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Video/afbeelding title</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4 js-lightbox"  data-type="image">
                    <a href="https://placeimg.com/900/1000/arch" class="u-clean js-lightbox__inner">
                        <figure class="u-image--275x175 u-image ">
                            <img src="https://placeimg.com/275/176/arch" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Video/afbeelding title</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4 js-lightbox" data-type="image">
                    <a href="https://placeimg.com/900/900/arch" class="u-clean js-lightbox__inner">
                        <figure class="u-image--275x175 u-image">
                            <img src="https://placeimg.com/275/174/arch" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Video/afbeelding title</h3>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="o-content o-section-main c-grid c-verbouwcoaches js-LoadMore" data-text="Meer verbouwcoaches" id="section6">
        <h2 class="section-title">Ontmoet onze Verbouwcoaches</h2>
        <div class="o-columns o-columns--min-2 js-fadein-up">
            <ul class="u-list">
                <li class="o-column o-column--mid-3 o-column--4">
                    <a href="" class="c-grid__link">
                        <figure class="u-image--275x175 u-image ">
                            <span class="c-grid__label">Architect</span>
                            <img src="http://placeimg.com/275/175/people" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Naam van persoon</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4">
                    <a href="" class="c-grid__link">
                        <figure class="u-image--275x175 u-image ">
                            <span class="c-grid__label">Architect</span>
                            <img src="https://placeimg.com/275/175/people" width="275" height="175"/>
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Naam van persoon</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4">
                    <a href="" class="c-grid__link">
                        <figure class="u-image--275x175 u-image ">
                            <span class="c-grid__label">Architect</span>
                            <img src="http://placeimg.com/275/175/people" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Naam van persoon</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4">
                    <a href="" class="c-grid__link">
                        <figure class="u-image--275x175 u-image ">
                            <span class="c-grid__label">Architect</span>
                            <img src="https://placeimg.com/275/175/people" width="275" height="175"/>
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Naam van persoon</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4">
                    <a href="" class="c-grid__link">
                        <figure class="u-image--275x175 u-image ">
                            <span class="c-grid__label">Architect</span>
                            <img src="http://placeimg.com/275/175/people" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Naam van persoon</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4">
                    <a href="" class="c-grid__link">
                        <figure class="u-image--275x175 u-image ">
                            <span class="c-grid__label">Architect</span>
                            <img src="https://placeimg.com/275/175/people" width="275" height="175"/>
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Naam van persoon</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4">
                    <a href="" class="c-grid__link">
                        <figure class="u-image--275x175 u-image ">
                            <span class="c-grid__label">Architect</span>
                            <img src="http://placeimg.com/275/175/people" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Naam van persoon</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4">
                    <a href="" class="c-grid__link">
                        <figure class="u-image--275x175 u-image ">
                            <span class="c-grid__label">Architect</span>
                            <img src="https://placeimg.com/275/175/people" width="275" height="175"/>
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Naam van persoon</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4">
                    <a href="" class="c-grid__link">
                        <figure class="u-image--275x175 u-image ">
                            <span class="c-grid__label">Architect</span>
                            <img src="http://placeimg.com/275/175/people" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Naam van persoon</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4">
                    <a href="" class="c-grid__link">
                        <figure class="u-image--275x175 u-image ">
                            <span class="c-grid__label">Architect</span>
                            <img src="https://placeimg.com/275/175/people" width="275" height="175"/>
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Naam van persoon</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4">
                    <a href="" class="c-grid__link">
                        <figure class="u-image--275x175 u-image ">
                            <span class="c-grid__label">Architect</span>
                            <img src="http://placeimg.com/275/175/people" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Naam van persoon</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4">
                    <a href="" class="c-grid__link">
                        <figure class="u-image--275x175 u-image ">
                            <span class="c-grid__label">Architect</span>
                            <img src="https://placeimg.com/275/175/people" width="275" height="175"/>
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Naam van persoon</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4">
                    <a href="" class="c-grid__link">
                        <figure class="u-image--275x175 u-image ">
                            <span class="c-grid__label">Architect</span>
                            <img src="http://placeimg.com/275/175/people" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Naam van persoon</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4">
                    <a href="" class="c-grid__link">
                        <figure class="u-image--275x175 u-image ">
                            <span class="c-grid__label">Architect</span>
                            <img src="https://placeimg.com/275/175/people" width="275" height="175"/>
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Naam van persoon</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4">
                    <a href="" class="c-grid__link">
                        <figure class="u-image--275x175 u-image ">
                            <span class="c-grid__label">Architect</span>
                            <img src="http://placeimg.com/275/175/people" width="275" height="175" />
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Naam van persoon</h3>
                        </div>
                    </a>
                </li>
                <li class="o-column o-column--mid-3 o-column--4">
                    <a href="" class="c-grid__link">
                        <figure class="u-image--275x175 u-image ">
                            <span class="c-grid__label">Architect</span>
                            <img src="https://placeimg.com/275/175/people" width="275" height="175"/>
                        </figure>
                        <div class="c-grid__inner">
                            <h3>Naam van persoon</h3>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
