//Adjust breakpoints depending on menu items.
main {
    &:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transition: background $hoverTransition, z-index 0s 0.3s;
    }
}
.is-activeNav {


    .c-nav {
        transform: translateX(0);
    }

    .c-nav-toggle, .c-nav-toggle:visited {
        border-radius: 100%;
        padding: calc(#{$page-margin}/2);

        &:hover {

        }

        &:after {
            display: none;
        }

        &:before {
            display: block;
            background-image: url("../icons/ic_close.svg");
            height: 1.25em;
            transition: $hoverTransition;
        }
    }
}

.c-nav-toggle, .c-nav-toggle:visited {
    background-color: $quiet-color;
    position: fixed;
    top: calc(#{$page-margin}/2);
    right: calc(#{$page-margin}/2);
    z-index: 1000;
    font-weight: $light;
    text-decoration: none;
    color: $text-color;
    padding: 0.5rem calc(#{$page-margin}/2);
    box-shadow: $hoverShadow;
    transition: $hoverTransition;
    line-height: 1;

    &:hover {
        background-color: $quiet-color;
        color: $text-color;
        box-shadow: $basicShadow;
    }

    &:before {
        margin: 0 auto;
        content: "";
        display: inline-block;
        background-image: url("../icons/ic_menu.svg");
        width: 1.25em;
        height: 1em;
        background-size: cover;
        vertical-align: middle;
        background-position: center center;
    }

    &:after {
        content: "menu";
        display: inline-block;
        font-size: 10px;
        vertical-align: middle;
    }

    @media only screen and (min-width: 600px) {
        display: none;
    }
}

.c-nav {
    box-shadow: $fixedShadow;
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    transition: $hoverTransition;
    z-index: 999;
    transform: translateY(-100%);
    max-width: 100%;
    width: 100%;
    background-color: $quiet-color;
    @media only screen and (min-width: 600px) {
        max-width: none;
        transform: translateY(0);
        position: absolute;
        bottom: auto;
        background-color: transparent;
        box-shadow: none;
    }
}

.c-nav__list,.c-anchor__list {
    margin: 0;
    list-style: none;
    padding: 0;
     @media only screen and (min-width: 600px) {
         text-align: right;
         margin-left: 0;
         margin-right: 0;
     }
}

.c-nav__item {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;


}

.c-nav__logo {
    display: inline-block;
    padding: 1em;
}
.c-subNav {
    padding: 0;
    margin: 0;
    list-style: none;
    .c-nav__link {
        background-color: transparent;
        padding: 0.75em $page-margin;
        padding-left: calc(#{$page-margin} * 1.5);
        &:hover {
            background-color: darken($secondary-color, 20%) !important;
        }
    }
    @media only screen and (min-width: 600px) {
        .c-nav__link {

            padding-left: $page-margin;
        }
        margin-left: 0;
        position: absolute;
        height: 0;
        background-color:  darken($secondary-color, 10%);
        overflow: hidden;
        transition: $hoverTransition;

    }
}

.has-subNav:hover {
    background-color: darken($secondary-color, 10%);
    .c-nav__link {
        background-color: transparent;
    }
    @media only screen and (min-width: 600px) {
        .c-subNav {
            height: 39px;
            transition: $hoverTransition;
            right: 0;

        }
        .c-nav__link--main {
            &:after {
                transform: rotateX(180deg);
            }
        }
    }
}

.has-subNav {
    transition: $hoverTransition;
    .c-nav__link--main, .c-nav__link--main:visited {
        border-bottom: none;
    }
    @media only screen and (min-width: 600px) {
        .c-nav__link--main, .c-nav__link--main:visited {
            border-bottom: none !important;
            &:after {
                content: "";
                display: inline-block;
                width: 1em;
                height: 1em;
                background-image: url('../icons/ic_keyboard_arrow_down.svg');
                background-size: contain;
                vertical-align: middle;
                transition: $hoverTransition;
            }
        }
    }
}

.c-nav__link, .c-nav__link:visited {
    background-color: transparent;
    font-size: 16px;
    padding:13px 0px;
    text-decoration: none;
    font-weight: bold;
    color: $primary-color;
    display: inline-block;
    &:hover {
        text-decoration: underline;
        background-color:  transparent;
    }

    @media only screen and (min-width: 600px) {
        border-bottom: none;
    }
}


.c-anchor__list {
    text-align: center;
    li {
        display: inline-block;
        a {
            padding: 0.75em;
            font-size: 14px;
            text-decoration: none;
            color: $secondary-color;
            &.is-active, &:hover {
                background-color: transparent;
                color: $primary-color;

            }
        }
    }

}
