// Utilities

.u-accessibility, .js .js-accessibility {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

.u-accessibility:focus, .u-accessibility:active {
    clip: auto;
    height: auto;
    overflow: visible;
    position: fixed;
    width: auto;
}

.u-quiet-bg {
    background-color: $quiet-color;
}
.u-primary-bg {
    background-color: $primary-color;
}
.u-secondary-bg {
    background-color: $secondary-color;
}
.u-menu-bg {
    background-color: #ffffff;
    border-bottom: 1px solid $secondary-color;
}

.u-shadow {
    box-shadow: $basicShadow;
}

.u-radius {
    border-radius: 2px;
}
.u-center {
    text-align: center;
}
.u-rel {
    position: relative;
}
.u-list {
    padding:0;
    margin: 0;
    list-style: none;
}
.u-video {
    background-color: #000;
    display: block;
    padding-bottom: 56.25%;
    position: relative;
}

.u-image {
    margin: 0;
    background-color: #000;
    display: block;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
 .u-image--66 {
     padding-bottom: 66.79%;
 }
 .u-image--560x275 {
     padding-bottom: 49.10%;
 }
.u-image--275x175 {
    padding-bottom: 63.63%;
}
.u-video iframe, .u-video object, .u-video embed, .u-image img {
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.u-readable {
    max-width: 50em;
}

.u-mod {
    margin-left: -$page-margin;
    margin-right: -$page-margin;
}

.u-right {
    text-align: right;
}

.u-circle {
    overflow: hidden;
    border-radius: 100%;
}

.u-radius-alt {
    border-top-left-radius:  9px;
    overflow: hidden;
}

.u-light{
    color: #ffffff;
}

.u-clean {
    text-decoration: none;
}
.u-is-visible {
    opacity: 1;
    z-index: 999999;
}


.c-img-wrapper {
    margin:  0 auto;
    display: block;
    max-width: 20em;
}




body { background: gainsboro; }
.u-triangle {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding-bottom: 67.5%;
}
.u-triangle__inner, .u-triangle__inner img { width: 100%; height: 100%; }
.u-triangle__inner {
    background-color: $primary-color;
   transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  /* arctan(27 / 40) = 34.01935deg
   * need to skew by 90deg - 34.01935deg = 55.98065deg
  */
  transform: skewX(-55.98deg);

  &:hover {
       transition: all 0.3s;
       z-index: 2;
       transform: skewX(0deg);
      img, &:after {
          opacity: 1;

          transform: skewX(0deg);
      }
      &:after{

          opacity: 0;
      }
  }
}
.u-triangle__inner:first-child {
  left: -.5em;
  transform-origin: 100% 0;
}
.u-triangle__inner:nth-child(2) {
  right: -.5em;
  transform-origin: 0 100%;
}
.u-triangle__inner img { opacity: .5; transition: .3s; }
.u-triangle__inner img:hover { opacity: 1; }
.u-triangle__inner img, .u-triangle__inner:after {
  transform: skewX(55.98deg);
  transform-origin: inherit;
}
.u-triangle__inner:after {
  opacity: 1;
    transition: all 0.3s;
  position: absolute;
  z-index: 3;
  margin: .25em 1.5em;
  color: white;
  font: 500 1em $font-family;
  letter-spacing: .1em;
  content: attr(data-inf);
}
.u-triangle__inner:first-child:after { top: 0; left: 0; }
.u-triangle__inner:nth-child(2):after { right: 0; bottom: 0; }
